on:
  schedule:
    # Run every hour, on the hour.
    - cron:  '*/10 * * * *'

name: Check for metadata json changes

jobs:
  check:
    runs-on: ubuntu-latest
    steps:

      # Use cURL to fetch the given URL, saving the response to `data.json`
      - name: Fetch data
        run: curl "https://api.census.gov/data.json" -o data/data.json
          
      # Compare the response to the previous run, using a hash of the response as the cache key
      #- name: Fetch Cache
      #  id: cache
      #  uses: actions/cache@v4
      #  with:
      #    path: data/data.json
      #    key: ${{ hashFiles('data/data.json') }}

      # Commit changes
      - uses: actions/checkout@v4
        # if: steps.cache.outputs.cache-hit != 'true'
      - name: If data has changed, commit
        run: |
          # Update timestamp in update-time.txt
          echo "$(TZ=:America/New_York date)" > update-time.txt

          # Configure git user
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          # Commit files
          git add .
          timestamp=$(TZ=:America/New_York date)
          git commit -m "Update data ${timestamp}" || exit 0
          git push
